
.BNTV_Emote {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .BNTV_Emote .BNTV_Emotetooltiptext {
    font-size: 10pt;
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.671);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 7px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 9;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }
  
  .BNTV_Emote:hover .BNTV_Emotetooltiptext {
    visibility: visible;
  }