:root {
    box-sizing: border-box;
    font-family: system, sans-serif;
  }
  
  *,
  ::before,
  ::after {
    box-sizing: inherit;
  }

.baaziz_divs_IS {
    background-color: #535252;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 150px;
    overflow-x: auto;
  }

    
  .baaziz_divs_IS-item {
    cursor: default; padding: 7px;font-size: 11pt;
  }
  
  .baaziz_divs_IS-item.selected {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
  }
  
  .baaziz_divs_IS-item:hover:not(.selected) {
    background-color: #707070;
    color:  white;
  }

  
  
.mention_Menu {
  background-color: #535252;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-height: 170px;
  overflow-x: auto;
}

  
.mention_Menu-item {
  cursor: default; padding: 7px;font-size: 11pt;
}

.mention_Menu-item.selected {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 10px;
}

.mention_Menu-item:hover:not(.selected) {
  background-color: #707070;
  color:  white;
}

.BNTV_Settings{
  cursor: pointer;
  font-size: 12pt;
  font-family: cursive;
  width: 60px;
  height: 25px;
  text-align: center;
  border-radius: 15px;
  background-color: black;
  color: #5000b9;
}
.BNTV_Settings:hover:not(.selected) {
  background-color:rgb(10, 10, 10);
  color: #5000b9;
}
.BNTV_Settings-MENU{
  font-size: 12pt;
  font-family: cursive;
  width: 60px;
  height: 25px;
  text-align: center;
  border-radius: 15px;
  background-color: black;
  color: #5000b9;
}
  
textarea {
    font: inherit;
}
